@section scripts{
    <script src="~/Public/webVideoCtrl/js/webVideoCtrl.js"></script>
    <script src="~/Public/content/camerview/js/camerview.js"></script>
}
<div id="videoParentContainer" class="container">
    <h1 id="title">某某考场视频监控</h1>
    <div id="divPlugin"></div>
</div>



