@{
    Layout = null;
}

<!DOCTYPE html>

<link href="~/Public/datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/Public/content/DataAudit/css/DataAudit.css" rel="stylesheet" />



<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">查询区域</h4>

                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
                <div class="widget-toolbar">
                    <a id="btnDataAudit_Query" href="#">
                        <i class="ace-icon fa fa-search">查询</i>
                    </a>
                </div>
            </div>

            <div class="widget-body" style="display: block;">
                <div id="divDataAudit_QueryArea" class="widget-main form-horizontal ">
                    <div class="row">
                        <div class="col-xs-4 ">
                            <label class="control-label col-xs-4 ">企业名称</label>
                            <input class="col-xs-8" type="text" name="EnterpriseName">
                        </div>
                        <div class="col-xs-4">
                            <label class="control-label col-xs-4 ">姓名</label>
                            <input class="col-xs-8" type="text" name="EmployeeName">
                        </div>
                        <div class="col-xs-4 ">
                            <label class="control-label col-xs-3 ">报考行业</label>
                            <select class="col-xs-9" name="Industry"></select>
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-4 ">
                            <label class="control-label col-xs-4 ">报考科目</label>
                            <select class="col-xs-8" name="ExamType"></select>
                        </div>
                        <div class="col-xs-4 ">
                            <label class="control-label col-xs-4 ">审核状态</label>
                            <select class="col-xs-8" name="AuditStatus">
                                <option value="">全部</option>
                                <option value="未审核">未审核</option>
                                <option value="已审核">已审核</option>
                                <option value="审核通过">审核通过</option>
                                <option value="审核未通过">审核未通过</option>
                            </select>
                        </div>
                        <div class="col-xs-4 ">
                            <label class="control-label col-xs-3 ">审核日期</label>
                            <input class="col-xs-4" type="text" name="AuditDateBegin">
                            <label class="control-label col-xs-1 ">~</label>
                            <input class="col-xs-4" type="text" name="AuditDateEnd">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">考试人员资料审核记录</h4>
                <div class="widget-toolbar">
                    <a href="#" id="btnDataAduit_MultiCheck">
                        <i class="ace-icon fa fa-check">审核</i>
                    </a>
                </div>

            </div>
            <table id="gridDataAudit_main"></table>
            <div id="pagerDataAudit_main"></div>

        </div>
    </div>

</div>
<!--人员批量审核-->
<div class="modal fade" id="mdlDataAudit_MultiCheck">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">人员资料审核</h4>
            </div>
            <div class="modal-body">
                <div id="divDataAudit_MultiCheck" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">审核意见</label>
                        <div class="col-sm-8">
                            <textarea name="CheckedMark" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnDataAudit_Pass" class="btn btn-info btn-sm">审核通过</button>
                <button id="btnDataAudit_NoPass" class="btn btn-danger btn-sm">审核不通过</button>
                <button class="btn btn-sm" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>

</div>

<!--人员单个审核-->
<div class="modal fade" id="mdlDataAudit_SingleCheck">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h3 class="modal-title">人员资料审核</h3>
            </div>
            <div class="modal-body">
                <div id="divDataAudit_SingleCheck" class="form-horizontal">
                    <input type="hidden" name="EmployeeId" />
                    <table class="table table-bordered text-center table">
                        <tr>
                            <td colspan="1">姓名</td>
                            <td colspan="1"><input type="text" name="EmployeeName" /></td>
                            <td colspan="1">性别</td>
                            <td colspan="1">
                                <label><input type="radio" checked name="Sex" value="男" />男</label>
                                <label><input type="radio" name="Sex" value="女" />女</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">身份证号</td>
                            <td colspan="1"><input type="text" name="IDNumber" /></td>
                            <td colspan="1">出生年月</td>
                            <td colspan="1"><input type="text" name="Birthday" /></td>
                        </tr>

                        <tr>
                            <td colspan="1">职务</td>
                            <td colspan="1"><input type="text" name="Job" /></td>
                            <td colspan="1">技术职称</td>
                            <td colspan="1"><input type="text" name="Title4Technical" /></td>
                        </tr>
                        <tr>
                            <td colspan="1">报考行业<span class="text-danger"> ❉ </span></td>
                            <td colspan="1"><input type="text" name="Industry" /></td>
                            <td colspan="1">报考科目<span class="text-danger"> ❉ </span></td>
                            <td colspan="1"><input type="text" name="ExamType" /></td>
                        </tr>
                        <tr>
                            <td colspan="1">企业名称</td>
                            <td colspan="3">
                                <input type="text" name="EnterpriseName" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">审核意见</td>
                            <td colspan="3"><textarea name="CheckedMark" rows="3"></textarea></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button id="divDataAudit_SingleCheckBtnPass" class="btn btn-info btn-sm">审核通过</button>
                <button id="divDataAudit_SingleCheckBtnNoPass" class="btn btn-danger btn-sm">审核不通过</button>
                <button class="btn btn-sm" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>

</div>

<script src="~/Public/datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="~/Public/datetimepicker/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="~/Public/content/DataAudit/js/DataAudit.js?v=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
