@{
    Layout = null;
}

<!DOCTYPE html>

<link href="~/Public/datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/Public/content/examinationresultsaudit/css/ExaminationResultsAudit.css" rel="stylesheet" />

<!--查询区-->
<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">查询区域</h4>

                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
                <div class="widget-toolbar">
                    <a id="btnExaminationResultsAudit_Query" href="#">
                        <i class="ace-icon fa fa-search">查询</i>
                    </a>
                </div>
            </div>

            <div class="widget-body" style="display: block;">
                <div id="divExaminationResultsAudit_QueryArea" class="widget-main form-horizontal ">
                    <div class="row">
                        <div class="col-xs-4 ">
                            <label class="control-label col-xs-4 ">考试计划流水号</label>
                            <input class="col-xs-8" type="text" name="ExamPlanNumber">
                        </div>
                        <div class="col-xs-4 ">
                            <label class="control-label col-xs-4 ">姓名</label>
                            <input class="col-xs-8" type="text" name="EmployeeName">
                        </div>
                        <div class="col-xs-4 ">
                            <label class="control-label col-xs-4 ">身份证号</label>
                            <input class="col-xs-8" type="text" name="IDNumber">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-4 ">
                            <label class="control-label col-xs-4 ">报考行业</label>
                            <select class="col-xs-8" name="Industry"></select>
                        </div>
                        <div class="col-xs-4 ">
                            <label class="control-label col-xs-4 ">报考科目</label>
                            <select class="col-xs-8" name="ExamType"></select>
                        </div>
                        <div class="col-xs-4 ">
                            <label class="control-label col-xs-4 ">审核状态</label>
                            <select class="col-xs-8" name="CheckStatus">
                                <option value="">全部</option>
                                <option value="未审核">未审核</option>
                                <option value="已审核">已审核</option>
                                <option value="审核通过">审核通过</option>
                                <option value="审核不通过">审核不通过</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<!--表格-->
<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">考试结果审核列表</h4>
            </div>
            <table id="gridExaminationResultsAudit_main"></table>
            <div id="pagerExaminationResultsAudit_main"></div>
        </div>
    </div>
</div>
<!--根据考试计划审核-->
<div class="modal fade" id="mdlExamResultCheck_CheckByExamPlan">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">考试结果审核</h4>
            </div>
            <div class="modal-body">
                <div id="divExamResultCheck_CheckByExamPlan" class="form-horizontal">
                    <input name="ExamPlanId" type="hidden" />
                    <div class="form-group">
                        <label class="col-sm-4 control-label">审核意见</label>
                        <div class="col-sm-8">
                            <textarea name="CheckedMark" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">发证日期</label>
                        <div class="col-sm-8">
                            <input type="text" name="StartCertificateDate" class="width-100" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnExamResultCheck_Pass" class="btn btn-info btn-sm">审核通过</button>
                <button id="btnExamResultCheck_NoPass" class="btn btn-danger btn-sm">审核不通过</button>
                <button class="btn btn-sm" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>

</div>
<!--根据人员审核-->
<div class="modal fade" id="mdlExamResultAduit_CheckByEmployee">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h3 class="modal-title">考核结果</h3>
            </div>
            <div class="modal-body">
                <div id="divExamResultAduit_CheckByEmployee" class="form-horizontal">
                    <input type="hidden" name="EmployeeId" />
                    <table class="table table-bordered text-center table">
                        <tr>
                            <td colspan="1" class="width-30">安全知识考核结果</td>
                            <td colspan="1" class="width-70" name="SafetyKnowledgeExamResult"></td>
                        </tr>
                        <tr>
                            <td colspan="1">管理能力考核结果</td>
                            <td colspan="1" name="ManagementAbilityExamResult"></td>
                        </tr>
                        <tr name="FieldExamResultImg">
                            <td colspan="1">实操考核结果</td>
                            <td colspan="1" name="FieldExamResult"></td>
                        </tr>
                        <tr name="FieldExamResultImg">
                            <td colspan="2">
                                <div id="divManageExamresult_ManageExamresultInfoImageUpload"></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">审核意见</td>
                            <td colspan="1"><textarea cols="2" rows="2" name="CheckedMark"></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="1">发证日期</td>
                            <td colspan="1"><input type="text" name="StartCertificateDate" class="width-100" /></td>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button id="btnExamResultAduit_CheckByEmployeePass" class="btn btn-info btn-sm">审核通过</button>
                <button id="btnExamResultAduit_CheckByEmployeeNoPass" class="btn btn-danger btn-sm">审核不通过</button>
                <button class="btn btn-sm" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>

</div>

<script src="~/Public/datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="~/Public/datetimepicker/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="~/Public/imageUpload/js/imageUpload.js"></script>
<script src="~/Public/content/ExaminationResultsAudit/js/ExaminationResultsAudit.js?v=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
